@{
    ViewBag.Title = "Index";
    Layout = null;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <script type="text/javascript" src="./css/1.txt"></script>
    <script type="text/javascript" src="./css/1(1).txt"></script>
    <script type="text/javascript" src="./css/moatframe.js.download"></script>
    <title>Kenya Rural Roads Authority(KeRRA)| Permit Management</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="robots" content="index, follow">
    <meta name="revisit-after" content="7 days">
    <link rel="shortcut icon" href="" type="image/x-icon">
    <link href="./css/styles.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" async="" src="./css/ga.js.download"></script>
    <script language="javascript" type="text/javascript" src="./css/jquery.js.download"></script>
    <link rel="stylesheet" type="text/css" href="./css/ddsmoothmenu.css">
    <script type="text/javascript" src="./css/ddsmoothmenu.js.download"	</script>
    <script type="text/javascript" src="./css/mootools.js.download"></script>
    <link href="./css/multibox.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="./css/overlay.js.download"></script>
    <script type="text/javascript" src="./css/multibox.js.download"></script>
    <script type="text/javascript" src="./css/main.js.download"></script>
</head>
<body>

    <div id="wrapper">
        <div id="header">
            <div id="logban">
                <div class="floatleft">
                    <div class="logo"><img src="./css/favicon.png" width="416" height="166" alt="KeRRA LOGO"></div>
                </div>
                <div class="floatright banner">
                    <a href="https://www.keRRA.co.ke/"><img src="./css/road.jpg" width="556" height="186" alt="Community" align="middle"></a>

                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div id="menubar">
            <div id="mainnav" class="ddsmoothmenu">
                <div id="mainnav" class="ddsmoothmenu">
                    <ul>
                        <li>
                            <a title="Home" href="https://www.keRRA.co.ke/" class="normal" target="_self">Home</a>
                        </li>
                        <li style="z-index: 100;">
                            <a title="About Us" href="" class="normal" target="_self" style="padding-right: 23px;">About Us</a>
                        </li>
                        <li style="z-index: 99;">
                            <a title="Projects" href="/Home/Login"  style="padding-right: 23px;">WayLeave</a>
                        </li>
                        <li style="z-index: 97;">
                            <a title="Axle" href="/Home/Login"  style="padding-right: 23px;">Axle Load</a>
                        </li>
                        <li style="z-index: 95;">
                            <a title="Downloads" About" href=""  style="padding-right: 23px;">Downloads</a>
                        </li>
                        <li style="z-index: 94;">
                            <a title="Regulations" href="" style="padding-right: 23px;">Regulations</a>
                        </li>
                        <li style="z-index: 93;">
                            <a title="News" href=""  style="padding-right: 23px;">News</a>
                        </li>
                        <li style="z-index: 93;">
                            <a title="Login" href="/Home/Login" style="padding-right: 23px;">Login</a>
                        </li>
                        <li style="z-index: 93;">
                            <a title="Register" href="/Home/Login" style="padding-right: 23px;">Register</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="titlebar">
            <div class="titles">
                <h1>Welcome to KERRA Permit Application Portal</h1>
                <div class="date">Wednesday 4 March, 2020</div>
            </div>
            <div class="white"></div>
            <div class="red"></div>
            <div class="navbar">
                <div id="navs">
                    <span>WayLeave and Axle Load Permit Application</span>
                </div>
                <div id="search">
                    <form action="" method="get" id="searchform">
                        <input class="inside" id="txtsearch" name="query" value="Enter search term..." onfocus="javascript:if(this.value==&#39;Enter search term...&#39;)this.value=&#39;&#39;" onblur="javascript:if(this.value==&#39;&#39;)this.value=&#39;Enter search term...&#39;" type="text" maxlength="44">
                        <input src="./css/search.gif" name="search" type="image" class="topsubmit" alt="GO">
                        <input type="hidden" name="searchPage" value="1"><input type="hidden" name="action" value="search">
                    </form>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div id="leftcol">
            <div id="content">
                <b class="b1"></b><b class="b2"></b><b class="b3"></b><b class="b4"></b>
                <div id="printable">
                    <div id="breadcrumb">
                        <a href="">WayLeave and Axle Load Permit Application</a>»&nbsp;Permit management
                    </div>
                    <h1>WayLeave and Axle Load Permit Application</h1>
                    <h3><strong>Wayleave Management</strong></h3>
                    <p>Test Design</p>
                    <h3>Axle Load Management</h3>
                    <h3><strong>FAQs</strong></h3>
                    <p>How to Login</p>
                    <h3>Contact Us</h3>
                </div>
                <b class="b4"></b><b class="b3"></b><b class="b2"></b><b class="b1"></b>
            </div>
        </div>
        <div id="rightcol">
            <div id="panel">
                <div class="panel">
                    <div class="box">
                        <div class="titlebar_box"><h2>Learn About</h2></div>
                        <div class="contentbox">
                            <ul id="sidemenu">
                                <li class="menu"><a class="menu" href="">Rules and Requlations</a></li>
                                <li class="menu"><a class="menu" href="">WayLeave Permit Management</a></li>
                                <li class="menu"><a class="menu" href="">Axle Load Permit Management</a></li>
                                <li class="menu"><a class="menu" href="">ERP Implementation</a></li>
                            </ul>
                        </div>
                        <b class="b4"></b><b class="b3"></b><b class="b2"></b><b class="b1"></b>
                    </div>
                    <div class="box">
                        <div class="divider"></div>
                        <div class="titlebar_box"><h2>News and Events</h2></div>
                        <div class="boxcontent">
                            <h2>News and Events</h2>
                            <div class="videos">
                                <div id="vid1">
                                    <a class="js-modal-btn"  href="" title="KeRRA">
                                        <img src="./css/favicon.png" width="100" height="100" >
                                    </a>
                                </div>
                                <div id="vid2">
                                    <a class="js-modal-btn" target="_blank" href="" title="KeRRA">
                                        <img src="./css/favicon.png" width="100" height="100" alt="Featured Video">
                                    </a>
                                </div>
                                @*<div id="vid3">
                                    <a class="js-modal-btn" target="_blank" href="" title="KeRRA">
                                        <img src="./css/favicon.png" width="50" height="50" alt="Featured Video">
                                    </a>
                                </div>*@
                                <div class="clear"></div>
                            </div>
                        </div>
                        <b class="b4"></b><b class="b3"></b><b class="b2"></b><b class="b1"></b>
                    </div>
                    <div class="box">
                        <div class="divider"></div>
                        <div class="titlebar_box"><h2>Newsletter</h2></div>
                        <div class="boxcontent">
                            <div class="newsletter aligncenter"><a href="">Download The Guide</a></div>
                            <div class="smalltxt aligncenter">The Kenya Rural Roads Authority(KeRRA)</div>
                        </div>
                        <b class="b4"></b><b class="b3"></b><b class="b2"></b><b class="b1"></b>
                    </div>
                </div>

            </div>
        </div>
        @*<div class="text">
            <div class="bottom_footer_l"></div>
            <div class="bottom_footer_m">

            </div>
            <div class="bottom_footer_r"></div>
        </div>*@
        <div id="footer">
            <div class="links" >
                <a href="">Home</a><span class="line">|</span><a href="">Contact Us</a><span class="line">|</span><a href="">Careers</a><span class="line">|</span><a href="">Terms of Use</a><span class="line">|</span><a href=""> Portal</a><span class="line">|</span><a target="_blank" href="">Our Website</a>
            </div>
            <div class="aligncenter">
            <small>Copyright© 2020,Kenya Rural Roads Authority(KeRRA), All Rights Reserved</small></div>
        </div>
    </div> 
</body>
</html>